@keyframes appear-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes appear-down {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#name{
    animation: appear-left 1s ease-in-out;

}
#email{
    animation: appear-right 1s ease-in-out;

}
#message{
    animation: appear-down 1s ease-in-out;
}