@media screen and (max-width:992px){
    #projects{
        width: 100%;
    }
    #block{
        display: grid;
        grid-column: 1;
        
    }
    #data-pro{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}